# Build configuration file... #
#                             #
#                             #
# # # # # # # # # # # # # # # #
no-permission: "%prefix% &cYou don't have permission for this function."
#
kick-format: "&f%player% &chas been kicked. &cReason: &f%msg%"
#
Mode:
  Build: "&7You cannot build. Are you in the right &amode&7?"
  set-others: "&7You don't have permission to set modes for others."
#
messaging:
  format:
    from: "&6[&4PM&6]&r &6From: &a%sender% &f%msg%"
    to: "&6[&4PM&6]&r &6To: &c%target% &f%msg%"
#
Database:
  Enabled: false
  host: 1.0.0.0
  username: tachi
  password: 14931
  database: user_db
#
dependencies:
  vault: false
  PermissionsEx: false
#
mention-format: "&7%player% &a@Mentioned &7 you&f!"
#
Chat:
  Enabled: true
  msg: "&7Chat has been set to &a%value%&7."
  chat-disabled: "&7> The chat has been &fmuted&7."
  chat-enabled: "&7> The chat has been &funmuted&7."
  no-permission: "&cYou don't have permission to speak here."
  per-world: true
#
# # # # # # # # # # # # # # # #
# Other Settings...           #
#                             #
# # # # # # # # # # # # # # # #
Build:
  MOTD:
    server-list: "&a&l&k|| &6&lGame &2&lServer &a&l&k||"
    motd:
    - "&7     ----- &a&lGame Server &7-----"
    - "&7> Use /help"
  list:
    messages: "&cError: No staff members online. &b&o.-."
    format:
    - "&a---------- &5Game Server &a----------"
    - "&7Online:&a %online_players% %max_players%"
    - "&cStaff online: &a%staff%"
    - "&bCurrent Time: &f%time%"
    - "&7------------------------------"

#
#
Messages:
  join: "&8[&l&a+&8] &7{player}"
  quit: "&8[&l&4-&8] &7{player}"

# # # # # # # # # # # #
Whitelist:
  kick-message: "&9Whitelist&8> &c&oConnection failed: &8&l--&a&l>\n&6&lUUID: &7(&a%uuid%&7)\n&6&lUsername: &c&n%playername%"
  whitelist-alert: "%prefix% &7The player, &a%playername% is attempting to join the server."
#
#
restriction-msg: "&cUnknown command. Type '/help' for help."
#
blocked-cmds:
  - /deop
  - /op
  - /rl
  - /reload
  - /stop
  - /about
  - /kill
  - /ban
  - /mute
  - /core
  - /eco
  - /
  - /?
  - //
  - /we
  - //we
  - /wg
  - /worldguard
  - /region
  - /ban-ip
  - /banip
  - /pl
  - /plugins
  - /whois
  - /seen
  - /playerlock
  - /lock
  - /pardon
  - /banlist
  - /tpall
  - /toggledownfall
  - /tellraw
  - /save-on
  - /save-all
  - /pex
  - /promote
  - /motdlist
  - /serverlist
  - /pardon-ip
  - /unbanip
  - /pardonip
  - /weather
  - /ver
  - /version
  - /about
#
# Help-book Settings.
help-book:
  item: "WRITTEN_BOOK"
  name: "{player}'s &4Help Book."
  amount: 1
  lore:
  - "---------------------"
  - "&cUser Data: "
  - "&b{player}"
  - "&a{uuid}"
  - "&f{time}"
  - "{location}"
  - "&f------------------"
  - "&6General Commands:"
  - "&fTAGS: {builder},{mod},{smod},{admin},{dev}"
  - "&7/build helpbook {mod}+"
  - "&7/build warps - &fLists warps. &f|| &7/warp <warp> {builder}+"
  - "&7/build ? -&f Lists all build cmds.{admin}+"
  - "&7/build mode &f- Change gamemode, see [usage] flag. {builder}+"
  - "&7/tp <player> &f|| &7/tphere <player>&f teleportation! {mod}+"
  - "&7/chat clear &f||&7 /chat clearself &f|| &7/chat clearuser <user> {mod}+"
  - "&7/chat mute <world> &f|| &7/chat unmute <world> {mod}+"
  - "&7/kick <player> &f-Kick user(s) {mod}+"
  - "&7/list"
  - "&7/whitelist <&f[on] [off] [list] [clear]&7> {admin}+"
  - "&7/invsee <&f[type][player]&7>"
  - "&7/environment <flag> [world] <setting>"
  - "&7/environment [tp] <world>"
  - "&7/environment [tp] <world> <player>"

#
# Settings for inventory
# Size: Size of the inventory. Increments of 9 only can be used.
# Name: Inventory display name. color coded.
# Functions that can be used are as follows:
# {player}, {uuid}, {display_name}
Inventory-settings:
  size: 18
  name: "&4&l&nServer Help"
#
Items:
- BOOK
- DIAMOND
- ENCHANTED_BOOK
- WRITTEN_BOOK
#
BOOK:
  Name: "&bServerInformation"
  permission: ""
  function:
  - "/no"
  clickable: false
  slot: 0
  set:
    lore:
    - "&a---------------------"
    - "&cInformation section"
    - "&6This server is a test/development server,"
    - "&6used by ES for Map downloads, development, and games."
    - "&a---------------------"
DIAMOND:
  Name: "&bServer ranks."
  permission: ""
  function:
  - "/no"
  clickable: false
  slot: 2
  set:
    lore:
    - "---------------------"
    - "&7> &3Guest"
    - "&7> &2Member"
    - "&7> &eBuilder"
    - "&7> &9Mod"
    - "&7> &cAdmin"
    - "&7> &6Dev"
ENCHANTED_BOOK:
  Name: "&e&lCommands"
  permission: ""
  function:
  - "/no"
  clickable: false
  slot: 4
  set:
    lore:
    - "&7List of General commands."
    - "&a&l     ------"
    - "&7> &a/help"
    - "&7> &a/warp <warp name>"
    - "&7> &a/list"
    - "&7> &a/motd"
    - "&7> &a/warp list"
    - "&7> &a/msg"
    - "&7> &a/tpa"
    - "&7> &a/spawn"
    - "&7> &a/mode <mode>"
    - "&7> &a/mode usage"
    - "&a-----------------------"
WRITTEN_BOOK:
  Name: "&5Admin &fHelp &6Book"
  permission: "Build.book.admin"
  function:
  - "build ?"
  clickable: false
  slot: 6
  set:
    lore:
    - "&f/build helpbook &7to receive &fAdmin"
    - "Help Book&7."
